<script>
import qrcode from '@components/qr-code'
export default {
  components: { qrcode },
}
</script>

<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-1 x d-flex ">
        <div class="top d-flex h-50 ">
          <div class="logo h-25">
            logo
          </div>

          <ul class="h-75">
            <li
              ><img src="https://img.icons8.com/wired/64/000000/timeline.png"
            /></li>
            <li
              ><img src="https://img.icons8.com/ios/50/000000/gallery.png"
            /></li>
            <li><img src="https://img.icons8.com/ios/50/000000/gear.png"/></li>
            <li
              ><img src="https://img.icons8.com/dotty/80/000000/planner.png"
            /></li>
          </ul>
        </div>

        <div class="bottom-logo h-50 ">
          <img src="https://img.icons8.com/wired/64/000000/exit.png" />
        </div>
      </div>

      <div class="col-7">
        <slot />
      </div>
      <div class="col-4 y"> <qrcode /> </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
@import '@design';
.logo {
  flex-direction: row;
  align-self: center;
}
.bottom-logo {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 40px;
}
.bottom-logo > img {
  max-width: 40%;
  width: 100%;
}
.top {
  display: flex;
  flex-direction: column;
}
ul > li > img {
  width: 100%;
  height: auto;
}
ul > li {
  width: 40%;
  padding: 5px;
}
ul {
  outline: none;
  list-style-type: none;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.x {
  width: 100%;
  height: 100vh;
  padding-top: 50px;
  background-color: #eff3fc;
  position: relative;
  display: flex;
  flex-direction: column;
}

.y {
  width: 100%;
  height: 100vh;
  background-color: #eff3fc;
  display: flex;
  flex-direction: column;
  align-items: center;
}
</style>
