<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link rel="stylesheet" href="http://mincdn.ir/font/IranSans/font-face.css" />
  <link rel="stylesheet" href="http://mincdn.ir/font/IranSans/style.css" />
  <link rel="stylesheet" href="./vendor.css" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <link rel="shortcut icon" href="<%= webpackConfig.output.publicPath %>favicon.ico" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.css"
    integrity="sha256-Nfu23DiRqsrx/6B6vsI0T9vEVKq1M6KgO8+TV363g3s=" crossorigin="anonymous" />
  <title><%= webpackConfig.name %></title>
  <style>
    @font-face {
      font-family: 'IranSans';
      src: url('http://mincdn.ir/font/IranSans/IRANSansWeb.woff') format("woff");
      font-weight: normal;
    }

    .font-iranSans {
      font-family: IranSans;
    }
  </style>
</head>

<body>
  <!-- This is where our app will be mounted. -->
  <div id="app"></div>

  <!-- Built files will be auto injected here. -->
</body>

</html>
