<script>
export default {}
</script>

<template>
  <div class="pill">
    <div class="first">
      <div class="logo pr-4"
        ><img src="https://img.icons8.com/nolan/64/000000/ios-logo.png"
      /></div>
      <div class="menu">
        <img src="https://img.icons8.com/color/48/000000/menu-2.png" />
      </div>
    </div>
    <div class="second ">
      <h3 class="pl-4">ios</h3>
      <ul>
        <li>social media straregi</li>
        <li>social media straregi</li>
        <li>social media straregi</li>
      </ul>
    </div>
    <div class="third">
      <div class="progress">
        <div
          class="progress-bar "
          role="progressbar"
          style="width: 60%"
          aria-valuenow="10"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>
    </div>
    <div class="four">
      <button>3 days left</button>
      <div class="avatar w-25">
        <img src="https://img.icons8.com/dusk/64/000000/cat-profile.png" />
        <img src="https://img.icons8.com/dusk/64/000000/cat-profile.png" />
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
@import '@design';
.pill:hover {
  background-color: black;
}
.pill:hover button {
  background-color: white;
  color: black;
}
.pill:hover .progress-bar {
  background-color: gray;
}
.pill:hover ul {
  color: white;
}
.pill:hover h3 {
  color: white;
}
.avatar {
  display: flex;
  justify-content: flex-end;
}
.avatar > img {
  width: 100%;
  max-width: 50%;
}
button {
  height: 40px;
  width: 100px;
  background-color: #f9f7f5;
  outline: none;
  border-radius: 20%;
  box-shadow: none;
  border: none;
  color: gray;
}
.progress {
  height: 7px;
  align-self: center;
}
.progress-bar {
  background-color: black;
}
.third {
  width: 80%;
  height: 15%;
  display: flex;
}
.four {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
.logo {
  align-self: center;
}
.menu {
  transform: rotate(90deg);
  width: 12%;
  align-self: center;
}
img {
  width: 100%;
  height: auto;
}
.first {
  width: 85%;
  height: 25%;
  display: flex;
  justify-content: space-between;
}
.second {
  width: 90%;
  height: 45%;
  display: flex;
  flex-direction: column;
}
.pill {
  width: 350px;
  height: 400px;
  margin-top: 10%;
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 10px 1px #d2d0cc;
}
ul {
  color: gray;
}
ul > li {
  padding: 5px;
}
</style>
