<script>
import dashboardLayout from '@layouts/dashboardLayout'
import pill from '@components/main-pill'

export default {
  page: {
    title: 'Panel',
    meta: [{ name: 'description', content: 'Panel' }],
  },
  components: { dashboardLayout, pill },
}
</script>

<template>
  <dashboardLayout>
    <pill />
  </dashboardLayout>
</template>

<style lang="scss" scoped>
@import '@design';
</style>
